<ion-content>
  <ion-item>
    <ion-label style="font-size: xx-large; font-weight: 600;">@ruffles <ion-badge color="danger">99+</ion-badge></ion-label>
  </ion-item>
  <ion-grid>
    <ion-row class="ion-align-items-center" style="font-family: 'Oswald', sans-serif; text-align: center;">
      <ion-col size="3">
        <img alt="Silhouette of a person's head" src="https://th.bing.com/th/id/OIP.rc9GzXCr5hjY_SLvJBcBMgHaJ0?pid=ImgDet&w=180&h=180&c=7&dpr=1.3" style="border-radius: 50%;"/>
      </ion-col>
      <ion-col size="2.5" offset="1">
        1,234<br/>
        Publicar<br/>
      </ion-col>
      <ion-col size="3">
        5,678<br/>
        Seguidores<br/>
      </ion-col>
      <ion-col size="2.5">
        9,101<br />
        Seguidos<br />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="font-family: 'Oswald', sans-serif;">
    <ion-row>
      <ion-col>{{ nombre }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="color: gray;">Presentacion</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" style="text-align: center;">
        <ion-button expand="block" color="light" style="font-family: 'Oswald', sans-serif;" routerLink="//home/editar-perfil">Editar perfil</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items; let index" style="background-color: white" size="4">
        <img [src]="'https://picsum.photos/80/80?random=' + index" style="width: 100%;" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>